<!-- This file launches all you need-->


<launch>

    <!-- Launches the path planning from moveit-->
    <include file="$(find alice_moveit)/launch/move_group.launch">
        <!-- Pass arguments or set parameters if needed -->

    </include>

    <!-- Launches visualisation -->
    <include file="$(find alice_moveit)/launch/moveit_rviz.launch">
    </include>


</launch>