<launch>
    <!-- Load the URDF -->
    <param name="robot_description" command="xacro '$(find alice_description)/urdf/alice_v1.xacro'" />

    <!-- Start the joint_state_publisher node -->
    <node name="joint_state_publisher" pkg="alice_scripts" type="jointStatePublisher.py"/>

    <!-- Start the arduino_commander node -->
    <!-- <node name="arduino_commander" pkg="alice_scripts" type="arduinoCommander.py"/> -->

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">

        <!-- The remap is to make sure robot_state-publisher is receiving information from
        /alice/joint_states (change of namespace) -->
        <remap from="/joint_states" to="/alice/joint_states" />
    </node>

    <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(dirname)/move_group_fake_controller.launch">
    </include>

    <!-- Launch rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d home/flimdejong/catkin_ws/src/alice_moveit/config/move_commander.rviz" output="screen" />

</launch>
