<launch>
    <!-- Load the URDF -->
    <param name="robot_description" command="xacro '$(find alice_description)/urdf/alice_v1.xacro'" />

    <!-- Start the joint_state_publisher node -->
    <node name="joint_state_publisher" pkg="alice_scripts" type="jointStatePublisher.py"/>

    <!-- Start the arduino_commander node -->
    <node name="arduino_commander" pkg="alice_scripts" type="arduinoCommander.py"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">

        <!-- The remap is to make sure robot_state-publisher is receiving information from
        /alice/joint_states (change of namespace) -->
        <remap from="/joint_states" to="/alice/joint_states" />
    </node>

    <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(find alice_moveit)/launch/move_group_fake_controller.launch">
    </include>

    <!-- Launch rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find alice_commander)/config/config.rviz" output="screen" />

    <!-- Launch realsense_camera -->
    <include file="$(find alice_depth)/launch/rs_camera.launch">
    </include>

    <!-- Start the moveJoints node -->
    <node name="move_joints" pkg="alice_scripts" type="move_joints.py"/>

    <!-- Start the ICP node -->
    <node name="ICP" pkg="alice_depth" type="ICP.py"/>

    <!-- Start the preprocessing_single_auto node -->
    <node name="preprocessing_single_auto" pkg="alice_depth" type="preprocessing_single_auto.py"/>

    <!-- Start the rosToOpen3D node -->
    <node name="rosToOpen3D" pkg="alice_depth" type="rosToOpen3D.py"/>

</launch>
