<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alice">

    <!-- Create the link (or like item) -->
    <link name="camera_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mesh filename="package://alice_description/stl/realsense_camera.stl"
                scale="1 1 1" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://alice_description/stl/realsense_camera.stl"
                    scale="1 1 1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1" />
            <inertia ixx="0.000348958333333" ixy="0" ixz="0" iyy="0.000348958333333" iyz="0"
                izz="3.125e-05" />
        </inertial>
    </link>


    <!-- Add alternative way to look at your camera -->
    <!-- We need to turn it 90 degrees in yaw, CCW -->
    <link name="camera_link_optical">
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link" />
        <child link="camera_link_optical" />
        <origin xyz="0 0 0" rpy="-3.14 -1.5707 -1.5707" />
    </joint>
    <!-- Add alternative way to look at your camera -->

    <joint name="camera_joint" type="fixed">
        <parent link="world" />
        <child link="camera_link" />
        <origin rpy="0 0 0" xyz="0 0 0.073" />
    </joint>

    <!-- Fixed world -->
    <link name="world" />
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="base_cyllinder" />
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
    </joint>

</robot>